Source: xgong
Section: python
Priority: optional
Maintainer: Wazo Maintainers <dev+pkg@wazo.community>
Build-Depends: debhelper (>= 9), python, python-dev, python-requests, python-bottle, dh-systemd, python-setuptools
Standards-Version: 3.9.6

Package: xgong
Architecture: all
Pre-Depends: dpkg (>= 1.16.1), python2.7, adduser, ${misc:Pre-Depends}
Depends: ${misc:Depends}, ${python:Depends}, sox, libsox-fmt-mp3, python-requests, python-bottle
Description: Ring a gong when something fails
 .
 Service to ring a gong when something fails

Package: xgong-jenkins
Architecture: all
Pre-Depends: python2.7 | python2.6, ${misc:Pre-Depends}
Depends: ${misc:Depends}, ${python:Depends}, python-requests
Description: Play a message when jenkins fails
 .
 Service to ring a gong when jenkins fails
