Source: xgong-jenkins
Maintainer: Gregory Eric Sanderson <gsanderson@avencall.com>
Section: python
Priority: optional
Build-Depends: python-setuptools, python (>= 2.7), debhelper (>= 9)
Standards-Version: 3.9.5

Package: xgong-jenkins
Architecture: all
Pre-Depends: dpkg, python2.7-minimal | python2.6-minimal, ${misc:Pre-Depends}
Depends: ${misc:Depends}, ${python:Depends}, sox, libsox-fmt-mp3, python-requests
Description: Play a message when jenkins fails

